**Find the second largest number**

In [21]:
li=[1,2,3,4,5,6,1,2,3,9,3,6,9]
li.sort()
li1=[]
for i in li: #i=1
    if i not in li1:
        li1.append(i)
        print(li1)
li1[-2]

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 9]

6

**Tuple**
- tuple is a collection of elements
- it is also allow duplicate
- tuple is ordered data
- tuple is immutable
- hetrogeneous
- ()

In [52]:
a=()
print(type(a))
b=tuple()
print(type(b))
c=1,2,3,"ki"
print(type(c))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [100]:
d=(1,2,3,4,"ravi","kishore","ravikishore",1,2)
d

(1, 2, 3, 4, 'ravi', 'kishore', 'ravikishore', 1, 2)

In [44]:
print(d[0])
print(d[1:5])
print(d[5-3])
print(d[6//2])

1
(2, 3, 4, 'ravi')
3
4

In [45]:
d[0]="kishore"

TypeError: 'tuple' object does not support item assignment

In [54]:
del(d[0])

TypeError: 'tuple' object doesn't support item deletion

In [56]:
e=(1,2,3,["kishore"],(1,2,3),["kishore","ravi"])
len(e)

6

In [58]:
e[4][0]

1

In [59]:
print(dir(tuple),end=" ")

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [62]:
d

(1, 2, 3, 4, 'ravi', 'kishore', 'ravikishore', 1, 2)

In [75]:
print("item count",e.count((1,2,3)))
print()
print("item position in tuple",d.index("ravi"))

item count 1

item position in tuple 4

In [73]:
d.count(4)

1

In [82]:
e=(1,2,3,4,["kishore"],(1,2,2,3),["kishore","ravi",])
c=0
for i in e:
    i=str(i)
    for j in i:
        if j.isdigit():
            if j=='2':
                c=c+1
        
c

3

In [83]:
e.index((1,2,2,3))

5

In [84]:
e=list(e)
e

[1, 2, 3, 4, ['kishore'], (1, 2, 2, 3), ['kishore', 'ravi']]

In [87]:
e[0]="kisho"

In [93]:
e.index(['kishore','ravi'])
e[6][1]="ravikishore"

In [94]:
e

['kisho', 2, 3, 4, ['kishore'], (1, 2, 2, 3), ['kishore', 'ravikishore']]

In [95]:
d

(1, 2, 3, 4, 'ravi', 'kishore', 'ravikishore', 1, 2)

In [97]:
del(d)

In [101]:
d

(1, 2, 3, 4, 'ravi', 'kishore', 'ravikishore', 1, 2)

In [103]:
d*3

(1,
 2,
 3,
 4,
 'ravi',
 'kishore',
 'ravikishore',
 1,
 2,
 1,
 2,
 3,
 4,
 'ravi',
 'kishore',
 'ravikishore',
 1,
 2,
 1,
 2,
 3,
 4,
 'ravi',
 'kishore',
 'ravikishore',
 1,
 2)

In [104]:
d1=(1,2,3,4)

In [107]:
d+2*d1

(1, 2, 3, 4, 'ravi', 'kishore', 'ravikishore', 1, 2, 1, 2, 3, 4, 1, 2, 3, 4)

In [110]:
"1"+"2"

'12'

**sets**
- sets is also collection elements with different datatype
- sets is not allowed duplicates
- set is unordered data
- set is mutable
- represented with {}

In [114]:
s={1,2,3}
s1=set()
print(type(s))
print()
print(type(s1))

<class 'set'>

<class 'set'>

In [117]:
s={1,2,3,4,"bhanu","sakambari",1,2,3,4}
s

{1, 2, 3, 4, 'bhanu', 'sakambari'}

In [119]:
s[0]="kishore"

TypeError: 'set' object does not support item assignment

In [120]:
print(dir(set),end="")

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

**add**
**update**

In [121]:
s

{1, 2, 3, 4, 'bhanu', 'sakambari'}

In [125]:
s.add("ramya")
print(s)
s

{1, 2, 3, 4, 'kishore', 'sakambari', 'bhanu', 'ramya'}

{1, 2, 3, 4, 'bhanu', 'kishore', 'ramya', 'sakambari'}

In [126]:
s.add("kishore")
print(s)
s

{1, 2, 3, 4, 'kishore', 'sakambari', 'bhanu', 'ramya'}

{1, 2, 3, 4, 'bhanu', 'kishore', 'ramya', 'sakambari'}

In [131]:
s.add(6,7)
s

TypeError: add() takes exactly one argument (2 given)

In [17]:
s2={1,2,3}
s3={4,5,6,1}
s4=[7,8,9]
s2.update(s4)
s2

{1, 2, 3, 7, 8, 9}

**union**<br>
**intersection**<br>
**difference**<br>

In [18]:
s2

{1, 2, 3, 7, 8, 9}

In [19]:
s3

{1, 4, 5, 6}

In [20]:
s2.union(s3)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

**intersection**

In [23]:
print(s2)
print(s3)

{1, 2, 3, 7, 8, 9}
{1, 4, 5, 6}

In [21]:
s2.intersection(s3)

{1}

**difference**

In [26]:
s2

{1, 2, 3, 7, 8, 9}

In [24]:
s2.difference(s3)

{2, 3, 7, 8, 9}

In [28]:
print(s2)
print(s3)

{1, 2, 3, 7, 8, 9}
{1, 4, 5, 6}

In [27]:
s2.symmetric_difference(s3)

{2, 3, 4, 5, 6, 7, 8, 9}

**clear**<br>
**discard**<br>
**remove**<br>
**pop**<br>

In [29]:
s2.clear()
s2

set()

In [30]:
s3

{1, 4, 5, 6}

In [32]:
s3.discard(4)
s3

{1, 5, 6}

In [33]:
s3.remove(5)
s3

{1, 6}

In [35]:
s3.discard(4)
s3

{1, 6}

In [36]:
s3.remove(5)
s3

KeyError: 5

In [159]:
s4={1,2,3,"kishore",4,5,98,1.5,2.45,1.005,"Ravi"}
s4

{1, 1.005, 1.5, 2, 2.45, 3, 4, 5, 98, 'Ravi', 'kishore'}

In [121]:
s4.pop()

KeyError: 'pop from an empty set'

In [90]:
s4

{1.005, 1.5, 2, 2.45, 3, 4, 5, 98, 'kishore'}

In [92]:
print(ord("A"))
print(ord("a"))

65
97

In [93]:
s4

{1.005, 1.5, 2, 2.45, 3, 4, 5, 98, 'kishore'}

In [95]:
chr(109)

'm'

In [96]:
ord("m")

109

In [173]:
s4={1,2,3,4,5,6,7,8}
s4

{1, 2, 3, 4, 5, 6, 7, 8}

In [174]:
#c=0
s4=list(s4)
print(s4)
for i in range(0,len(s4)):
    s4.pop(i)
s4

[1, 2, 3, 4, 5, 6, 7, 8]

IndexError: pop index out of range

In [149]:
s4

[1, 3, 4, 5, 98, 1.5, 2.45, 1.005, 'Ravi', 'kishore']

In [152]:
len(s4)

11

In [138]:
s4

{'Ravi', 'kishore'}

In [ ]:
s4.discard(i)

In [146]:
print(dir(list),end="")

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [147]:
s4.pop(1)

2

In [ ]:
s4