print(dir(set),end="")

**issuperset**<br>
**issubset**<br>
**isdisjoint**<br>

In [30]:
s1={1,2,3,4,5,6,7}
s2={4,5,6}
s3={3,6,7,8}
s4={10,11,12,13}

In [14]:
print(s2.issubset(s1))
print(s1.issuperset(s2))
print(s3.issubset(s1))
print(s1.issuperset(s3))
print(s1.isdisjoint(s2))
print(s1.isdisjoint(s4))

True
True
False
False
False
True

**intersection_update**
**S

In [33]:
s1

{1, 2, 3, 4, 5, 6, 7}

In [34]:
s2

{4, 5, 6}

In [35]:
print(id(s1))
print(id(s2))
print(id(s1.intersection(s2)))

2439089402376
2439089405064
2439089402824

In [38]:
print(id(s1))
s1.intersection_update(s2)

2439089402376

In [36]:
s1

{1, 2, 3, 4, 5, 6, 7}

In [37]:
s2

{4, 5, 6}

In [39]:
s1

{4, 5, 6}

In [41]:
s1={1,2,3,4,5,6,7,8,9}
s2={7,8,9,11,12,13,14,15}

In [42]:
s2.intersection(s1)

{7, 8, 9}

In [43]:
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{7, 8, 9, 11, 12, 13, 14, 15}

In [44]:
s2.intersection_update(s1)

In [45]:
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{8, 9, 7}

**symmetric_difference_update**
**difference_update**

In [46]:
s5={1,2,3,4,5,6,7,8}
s6={5,6,7,8,9,10,11,12,13}

In [48]:
s5.difference(s6)

{1, 2, 3, 4}

In [49]:
print(s5)
print(s6)

{1, 2, 3, 4, 5, 6, 7, 8}
{5, 6, 7, 8, 9, 10, 11, 12, 13}

In [50]:
s5.difference_update(s6)

In [51]:
print(s5)
print(s6)

{1, 2, 3, 4}
{5, 6, 7, 8, 9, 10, 11, 12, 13}

In [58]:
# find the second largest element using with sets
li=[1,2,3,4,5,6,9,9]
li=list(set(li))
li[-2]

6

**Dictionaries**
- collection of items
- items is pair of key and values
- key is must be unique
- values can support duplicates
- it is also unorederd data
- mutable

In [59]:
di={"key":"value","key1":"value",1:"one",1.6:"onepointsix"}
di

{'key': 'value', 'key1': 'value', 1: 'one', 1.6: 'onepointsix'}

In [65]:
di1={"a":"one",(18,"ravi"):"data",9.9:[1,2,3],"a":1}
di1

{'a': 1, (18, 'ravi'): 'data', 9.9: [1, 2, 3]}

In [66]:
di1[0]

KeyError: 0

In [68]:
print(di1["a"])
print(di1[18,"ravi"])
print(di1[9.9])

1
data
[1, 2, 3]

In [ ]:
[178,987,900,877,788 ......]
[0  ,1  , 2 ,3  , 4 ......]
[]

In [75]:
di1[9.9]=[7,8,9]
di1[10]="ten"

In [76]:
di1

{'a': 1, (18, 'ravi'): 'data', 9.9: [7, 8, 9], 10: 'ten'}

In [77]:
di2=dict()
type(di2)

dict

In [79]:
print(dir(dict),end="")

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

**Items**<br>
**keys**<br>
**Values**<br>

In [81]:
di1.keys()

dict_keys(['a', (18, 'ravi'), 9.9, 10])

In [83]:
di1.values()

dict_values([1, 'data', [7, 8, 9], 'ten'])

In [84]:
di1.items()

dict_items([('a', 1), ((18, 'ravi'), 'data'), (9.9, [7, 8, 9]), (10, 'ten')])

In [87]:
a=dict_items([(1,1),(2,2),(3,3)])

NameError: name 'dict_items' is not defined

In [89]:
di1

{'a': 1, (18, 'ravi'): 'data', 9.9: [7, 8, 9], 10: 'ten'}

In [90]:
di1[11]="single data inserted"

In [91]:
di1

{'a': 1,
 (18, 'ravi'): 'data',
 9.9: [7, 8, 9],
 10: 'ten',
 11: 'single data inserted'}

In [94]:
#update
# we can insert the more than one keys 
di1

{'a': 1,
 (18, 'ravi'): 'data',
 9.9: [7, 8, 9],
 10: 'ten',
 11: 'single data inserted'}

In [97]:
di2={1:1,2:2,3:3,4:4}
di2

{1: 1, 2: 2, 3: 3, 4: 4}

In [98]:
di1.update(di2)

In [99]:
di1

{'a': 1,
 (18, 'ravi'): 'data',
 9.9: [7, 8, 9],
 10: 'ten',
 11: 'single data inserted',
 1: 1,
 2: 2,
 3: 3,
 4: 4}

In [150]:
di3={1:1,2:2}
di4={1:"one",3:3}
di3.update(di4)

In [102]:
di3

{1: 'one', 2: 2, 3: 3}

In [103]:
# setdefault()
di2

{1: 1, 2: 2, 3: 3, 4: 4}

In [104]:
di3

{1: 'one', 2: 2, 3: 3}

In [105]:
di1

{'a': 1,
 (18, 'ravi'): 'data',
 9.9: [7, 8, 9],
 10: 'ten',
 11: 'single data inserted',
 1: 1,
 2: 2,
 3: 3,
 4: 4}

In [106]:
di3[9]="Nine"
di3

{1: 'one', 2: 2, 3: 3, 9: 'Nine'}

In [107]:
di1

{'a': 1,
 (18, 'ravi'): 'data',
 9.9: [7, 8, 9],
 10: 'ten',
 11: 'single data inserted',
 1: 1,
 2: 2,
 3: 3,
 4: 4}

In [112]:
# setdefault()
# if key have in dictionary then return existing values
# if key dont have in dict then create new item in that dict
di3.setdefault(10,"add another value")

'add another value'

In [113]:
di3

{1: 'one', 2: 2, 3: 3, 9: 'Nine', 10: 'add another value'}

In [120]:
print(di3.get(1))
print(di3.get(11,"key not found"))
print(di3.get(3,"key not found"))
print(di3.get(12))

one
key not found
3
None

In [117]:
di3

{1: 'one', 2: 2, 3: 3, 9: 'Nine', 10: 'add another value'}

In [122]:
di3[11]

KeyError: 11

In [125]:
di3.get(1,"still user didnt upload data")

'one'

In [135]:
# fromkeys()----->create keys in dictionary
student={}
names=["rahit","kavya","saivisakha"]
student=student.fromkeys(names)
student

{'rahit': None, 'kavya': None, 'saivisakha': None}

In [136]:
student=student.fromkeys(names,100)

In [137]:
student

{'rahit': 100, 'kavya': 100, 'saivisakha': 100}

In [134]:
student["kavya"]=90
student

{'rahit': 100, 'kavya': 90, 'saivisakha': 100}

**pop**
**popitem**

In [185]:
di4.pop(1,2)

2

In [186]:
di4

{2: 2, 'Five': 5, 'three': 3, 4: 4, 5.9: 5, 6: 6, 7.07: 7, 'Four': 5}

In [144]:
di3

{3: 3, 9: 'Nine', 10: 'add another value'}

In [188]:
di4={1:1,2:2,"Five":5,"three":3,4:4,5.9:5,6:6,7.07:7,"Four":5}

In [197]:
di4.popitem()

(1, 1)

In [200]:
a={}
type(a)
b=set()
type(b)
c={1,2}
type(c)

set

In [201]:
# input: this is pyhon workshop is this
# output: {"This":2,"is":2,"python":1,"workshop":1}

user_input=input().split()
empty_dict={}
for i in user_input:
    empty_dict[i]=user_input.count(i)
empty_dict

this is python workshop is this

{'this': 2, 'is': 2, 'python': 1, 'workshop': 1}

In [219]:
di3[1]="ksih"
di3

{1: 'ksih', 2: 2, 3: 3}

In [206]:
li=[1,2,3,4,1,1,1]
li.count(1)

4

In [215]:
words =["this","is","python","workshop","is","this"]
dict1={}
dict1=dict1.fromkeys(words,words.count("is"))
dict1

{'this': 2, 'is': 2, 'python': 2, 'workshop': 2}