# LIst comphrehension

In [1]:
l=[]
for i in range(5):
    l.append(i)

In [2]:
l

[0, 1, 2, 3, 4]

In [3]:
l=[i for i in range(5)]

In [4]:
l

[0, 1, 2, 3, 4]

In [5]:
l=[i*i for i in range(5)]

In [6]:
l

[0, 1, 4, 9, 16]

In [9]:
l=[i*i for i in range(int(input()))]

10

In [10]:
l

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [15]:
l=[i**3 for i in range(int(input()))]

4

In [16]:
l

[0, 1, 8, 27]

In [18]:
# 1 to 10 numbers
for i in range(1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [19]:
l=[i for i in range(1,11)]

In [20]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
l=[i*i for i in range(1,11)]

In [22]:
l

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [24]:
# print all the even numbers upto the user given range
# 1 to 10 .... 2 4 6 8 
for i in range(1,11):
    if i%2==0:
        print("even",end=" ")
    else:
        print("odd",end=" ")

odd even odd even odd even odd even odd even

In [25]:
l=[i for i in range(int(input())) if i%2==0]
l

11

[0, 2, 4, 6, 8, 10]

In [27]:
a=["even" for i in range(1,11) if i%2==0]
a

['even', 'even', 'even', 'even', 'even']

In [28]:
a=["even" if i%2==0 else "odd" for i in range(1,11)]
a

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

# Functional Programming

In [29]:
# lambda
# map
# reduce
# filter
# iterators
# generators

# lambda

- anonymous function
- lambda variables or parameters or arguments:expression

In [30]:
2+3

5

In [31]:
x=lambda a,b:a+b
print(x(2,3))

5

In [32]:
x=lambda a,b:a-b
print(x(2,3))

-1

In [36]:
x = lambda a,b : a/b
print(x(6,3))

2.0

In [37]:
x = lambda a,b : a*b
print(x(6,3))

18

In [38]:
x=lambda a:a*a
print(x(4))

16

# Map

- map(fun,iterable)

In [39]:
l=[1,2,3,4,5]
x=map(lambda a:a*a,l)
print(x)

<map object at 0x0000027C5B74F588>

In [40]:
x=list(map(lambda a:a*a,l))
x

[1, 4, 9, 16, 25]

In [41]:
a=input().split()
a

1 23 34 5 6

['1', '23', '34', '5', '6']

In [42]:
for i in l:
    print(int(i),end=" ")

1 2 3 4 5

In [45]:
a=input().split()
b=map(int,a)
print(a)
b

1 2 3 4 5
['1', '2', '3', '4', '5']

In [46]:
# 1 2 3 4 5
a=input().split()
b=list(map(int,a))
b

1 2 3 4 5

[1, 2, 3, 4, 5]

In [47]:
a=list(map(int,input().split()))
a

1 2 3 4 5 6 7 8

[1, 2, 3, 4, 5, 6, 7, 8]

In [48]:
# map(fun,iter....)
l=[1,2,3,4,5,6,7,8,9,10]
g=map(lambda a:a*a,l)
print(g)

<map object at 0x0000027C5B6C5708>

In [49]:
g=list(map(lambda a:a*a,l))
g

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [50]:
a=input().split()
a

1 23 45 5 6 7 8 9 10

['1', '23', '45', '5', '6', '7', '8', '9', '10']

In [51]:
for i in l:
    print(int(i),end=" ")

1 2 3 4 5 6 7 8 9 10

In [53]:
a=input().split()
b=map(int,a)
print(a)
b

1 2 3 4
['1', '2', '3', '4']

In [54]:
a=input().split()
b=list(map(int,a))
b

1 2 3 4

[1, 2, 3, 4]

g=list(map(int,input().split()))
g

In [56]:
sum(g)

10

In [59]:
sum(g)/len(g)

2.5

In [60]:
# find whether the numbers in list are False or True using map
l=[1,2,3,4]
a=tuple(map(lambda x:x%2==0,l))
a

(False, True, False, True)

# Filter

- It returns True value only
- filter(func,seq)

In [62]:
l=[1,2,3,4,5,6,7,8,9,10]
a=list(filter(lambda x:x%2==0,l))
a

[2, 4, 6, 8, 10]

In [63]:
def is_even(n):
    if n%2==0:
        return "even"
    else:
        return "odd"
a=list(map(is_even,l))
a

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [67]:
l=[1,2,3,4,5,6,7,8,9,10]
def is_prime(n):
    c=0
    for i in range(1,n+1):
        if n%i==0:
            c+=1
    if c==2:
        return True
    else:
        return False
a=list(filter(is_prime,l))
print(a)

[2, 3, 5, 7]

In [1]:
# lambda....an.....
# map ......map(fun,iter)
# filter...()
# reduce
 # reduce(function,iter)

In [2]:
l=[1,2,3,4,5,6]
from functools import reduce

In [3]:
help(reduce)

Help on built-in function reduce in module _functools:

reduce(...)
    reduce(function, sequence[, initial]) -> value

    Apply a function of two arguments cumulatively to the items of a sequence,
    from left to right, so as to reduce the sequence to a single value.
    For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
    ((((1+2)+3)+4)+5).  If initial is present, it is placed before the items
    of the sequence in the calculation, and serves as a default when the
    sequence is empty.

In [4]:
reduce(lambda x,y:x*y,l)

720

In [5]:
reduce(lambda x,y:x+y,l)

21

In [6]:
l=[1,2,3]
reduce(lambda x,y:x*y,l)

6

In [24]:
# Iterators
l=[500,1,2,3,4,5,100]
for i in l:
    print(i)

500
1
2
3
4
5
100

In [25]:
# iter() next()
a=iter(l)
next(a)

500

In [26]:
next(a)

1

In [27]:
next(a)

2

In [28]:
next(a)

3

In [29]:
next(a)

4

In [30]:
next(a)

5

In [31]:
next(a)

100

In [32]:
next(a)

StopIteration:

In [33]:
# Generator
l=[1,2,3,4,5]
def gen():
    return 10
gen()

10

In [35]:
def gen():
    yield 10
    yield 20
    yield 30
a=gen()
next(a)

10

In [36]:
next(a)

20

In [37]:
next(a)

30

In [38]:
next(a)

StopIteration:

In [46]:
def gen():
    yield 100
    yield 200
m=gen()
next(m)

100

In [47]:
next(m)

200

In [48]:
next(m)

StopIteration:

In [50]:
print(1)
print(2)
print(3)

1
2
3

In [51]:
x=lambda a,b:a+b
print(x(3,4))

7

In [53]:
x=lambda a:a*a
print(x(int(input())))

10
100

In [56]:
l=[1,2,3,10]
x=list(map(lambda a:a*a,l))
print(x)

[1, 4, 9, 100]

In [57]:
a=input().split()
b=map(int,a)
print(a)
print(b)

1 2 3 4 5
['1', '2', '3', '4', '5']
<map object at 0x000002121198C708>

In [58]:
a=list(map(int,a))

In [59]:
a

[1, 2, 3, 4, 5]

In [60]:
sum(a)

15

In [61]:
sum(a)/len(a)

3.0

In [62]:
# 1,2,3,4
# odd even....
l=[1,2,3,4]
def even(n):
    if n%2==0:
        return "even"
    else:
        return "odd"
a=list(map(even,l))
a

['odd', 'even', 'odd', 'even']

In [69]:
l=[1,2,3,4,5,6]
def is_prime(n):
    c=0
    for i in range(1,n+1):
        if n%i==0:
            c+=1
    if c==2:
        return True
    else:
        return False
a=list(filter(is_prime,l))
a

[2, 3, 5]

In [70]:
a=list(filter(lambda x:x%2==0,l))
a

[2, 4, 6]

In [89]:
# reduce
l=[10,20,30]
from functools import reduce
# 10-20-30=-40

In [90]:
reduce(lambda x,y:x-y,l)

-40

In [91]:
def gen():
    yield 1
    yield 2
a=gen()
next(a)

1

In [92]:
next(a)

2

In [93]:
next(a)

StopIteration:

# OOPS (OBjected Oriented Programming)
- Class
- Objects
- Reference Variable

In [95]:
#class classname:
          #statements
#def funname:

In [96]:
class student:
    pass
a=student()    # object
a              # reference var

In [101]:
class student:
    '''this is an example to create  a class'''
a=student()
a

In [102]:
a.__doc__

'this is an example to create  a class'

# constructor (the method which we write for object variables)
- to intialize and declare variables
- method have should be given as __ init __ only
- whenever we are refering an object the construcor will be executed

In [103]:
class student:
    def __init__(self):
        print("constructor is getting executed")
a=student()
a

constructor is getting executed

In [106]:
class student:
    def __init__(self):
        print("constructor is getting executed")
a=student()
b=student()
print(a)
print(b)

constructor is getting executed
constructor is getting executed
<__main__.student object at 0x0000021211A6B608>
<__main__.student object at 0x0000021211A6BA08>

In [109]:
class student:
    def __init__(self):
        print("constructor is getting executed")
a=student()
b=student()
a

constructor is getting executed
constructor is getting executed

In [111]:
class student:
    def __init__(self,name,rollno):
        self.name=name
        self.rollno=rollno
        print("constructor executed")
    def __init__(self):
        print("constructor 2 is executed")
a=student("python",1)
b=student("online",2)
print(a)
b

TypeError: __init__() takes 1 positional argument but 3 were given

# self
- self is a reference variable which i always pointing to currrent obj
- with in the class to refer current obj we use self variable
- we need not provide value for self arg while creating an object

In [113]:
class student:
    def __init__(self,name,rollno):
        self.name=name
        self.rollno=rollno
        print("co.....is...excuted")
    def abc(self):
        print("name",self.name)
        print("rollno",self.rollno)
a=student("suhasini",10)
a.abc()

co.....is...excuted
name suhasini
rollno 10

In [126]:
class calc:
    '''this class is for performing same arithematic operations'''
    def __init__(self,a,b):
        self.num1=a
        self.num2=b
    def add(self):
        print(self.num1+self.num2)
obj1=calc(20,50)
obj1.add()
obj2=calc(11,15)
obj2.add()
obj3=calc(57,87)
obj3.add()

70
26
144

In [127]:
class student:
    def __init__(self,name,rollno):
        print(id(self))
        self.name=name
        self.rollno=rollno
        print("cons........")
a=student("apssdc",10)
print(id(a))

2276628724936
cons........
2276628724936

In [131]:
class employee:
    def __init__(self,name,age,salary):
        self.name=name
        self.age=age
        self.salary=salary
    def display(self):
        print("name",self.name,"age",self.age,"salary",self.salary)
a=employee("apssdc",23,3.5)
a.display()

name apssdc age 23 salary 3.5

# Types Of Variables
- Instance variables  (obj level)
- Static Variables   (class level)
- Local Variables (method level

In [132]:
def sub(a,b):
    return a-b

In [133]:
sub(20,50)

-30

In [ ]:
class employee:
    company="apssdc"
    def __init__(self,name,rollno):
        self.name
        ....